@import "_variables";

.theme-burnt {

  section {

    &.slide {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: px2rem(10px) 0;
      box-shadow: inset px2rem(2px) px2rem(2px) px2rem(6px) $burnt-bg-smoke;

      .content-box {
        @include default-box;
        margin: px2rem(10px);
        max-width: 100%;

        &.tweets-wrapper {
          background: transparent;
        }
      }
    }

  }

}