@import "_variables";

.menu-trigger {
  @include default-box;
  position: fixed;
  top: px2rem(10px);
  right: px2rem(10px);
  padding: px2rem(4px);
  border: px2rem(1px) solid $primary-color;
  border-radius: px2rem(2px);
  background: rgba(255,255,255,.25);
  color: $primary-color;
  font-size: px2rem(14px);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 4;

  a {
    color: inherit;
  }

  .icon-default {
    font-size: px2rem(16px);
    margin: 0 px2rem(2px) px2rem(-2px);
    color: $primary-color;
  }

}

nav.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  display: inline-block;
  min-width: px2rem180px();
  height: 100vh;
  margin: 0;
  padding: px2rem(60px) 0;
  color: $primary-color;
  background: $bg-fog;
  box-sizing: border-box;
  transition: transform .5s;
  z-index:3;

  &.is-active {
    transform: translate(0, 0);
  }

  //1st lvl
  > ul {

    a {
      display: inline-block;
      width: 100%;
      padding: px2rem(15px) 0;
      color: $bg-muted;
      text-align: center;
      font-size: px2rem(16px);

      &:hover,
      &:focus,
      &:active {
        color: $primary-color;
      }

      [class^=icon] {
        display: inline-block;
        margin: 0 auto;
        height: auto;
        text-align: center;
        color: inherit;
      }
    }

    //2nd lvl
    ul {
      @include default-box;
      @include toggle-transition;
      visibility: hidden;
      position: relative;
      background: $bg-smoke;

      &.is-active {
        @include toggle-active;
        visibility: visible;
      }

      &.sym-table {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        list-style: none;


        > li {
          @include default-box;
          flex-basis: 33%;
          height: px2rem(56px);
          position: relative;
          line-height: 1.25em;
          text-align: center;
          vertical-align: middle;
          color:  $inverted-primary;
          box-sizing: border-box;
          max-height: px2rem(60px);

          a {
            color: inherit;
            position: absolute;
            padding: 0;
            top: 0;
            left: 0;
            right:0;
            bottom: 0;
            font-size: 0;
            color: transparent;

            [class^=icon] {
              position: absolute;
              font-size: px2rem(14px);
              color: $inverted-primary;
              height: 1.25em;
              bottom: 0;
              left: 50%;
              transform: translate(-50%, -100%);
            }

            &:hover {
              color: $secondary-color;
              background: $bg-smoke;
            }
          }
        }

        &.flex-column {
          flex-direction: column;

          > li {
            flex-basis: 100%;
          }
        }

      }
    }

  }
}