/*WIREFRAME*/
/*MARINE*/
/*BURNT*/
/*WIREFRAME*/
/*MARINE*/
/*BURNT*/
.icon-default {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  display: inline-block; }

.icon-custom {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box; }

.icon-menu {
  position: relative;
  width: 1.25em;
  height: 1em; }
  .icon-menu::before, .icon-menu::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    left: 0; }
  .icon-menu::before {
    height: 100%;
    border: 0.22em solid #111111;
    border-color: inherit;
    border-left: none;
    border-right: none;
    background: transparent;
    box-sizing: border-box;
    top: 0; }
  .icon-menu::after {
    height: auto;
    border-top: 0.22em solid #111111;
    border-color: inherit;
    top: 50%;
    transform: translate(0, -50%); }

.icon-retweet {
  font-size: 1.25em; }

.icon-layout {
  width: 1em;
  height: 1.25em;
  border: 0.0625rem solid #f1f1f1;
  background: transparent; }
  .icon-layout::before, .icon-layout::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .icon-layout.layout-rows::before, .icon-layout.layout-rows::after {
    width: 80%;
    height: 25%;
    top: 45%;
    background: #f1f1f1;
    transform: translate(-50%, -100%); }
  .icon-layout.layout-rows::after {
    transform: translate(-50%, 100%); }
  .icon-layout.layout-columns::before, .icon-layout.layout-columns::after {
    width: 25%;
    height: 80%;
    left: 45%;
    background: #f1f1f1;
    transform: translate(-100%, -50%); }
  .icon-layout.layout-columns::after {
    transform: translate(80%, -50%); }
  .icon-layout.order-asc::before, .icon-layout.order-asc::after {
    border-top: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-bottom: 0.3125rem solid #f1f1f1;
    border-left: 0.3125rem solid transparent;
    background: transparent;
    transform: translate(-50%, -80%); }
  .icon-layout.order-asc::after {
    display: none; }
  .icon-layout.order-desc::before, .icon-layout.order-desc::after {
    border-top: 0.3125rem solid #f1f1f1;
    border-right: 0.3125rem solid transparent;
    border-bottom: 0.3125rem solid transparent;
    border-left: 0.3125rem solid transparent;
    background: transparent;
    transform: translate(-50%, -25%); }
  .icon-layout.order-desc::after {
    display: none; }
  .icon-layout.order-mix::before, .icon-layout.order-mix::after {
    border-top: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-bottom: 0.25rem solid transparent;
    border-left: 0.25rem solid #f1f1f1;
    background: transparent;
    transform: translate(-45%, -75%); }
  .icon-layout.order-mix::after {
    transform: translate(-45%, -30%) rotate(180deg); }

.icon-theme {
  width: 1em;
  height: 1.35em;
  border: 0.0625rem solid #f1f1f1;
  background: transparent;
  border: 0.0625rem solid #f1f1f1; }
  .icon-theme::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: -0.5625rem;
    right: -0.5625rem;
    border-radius: 50%;
    border-top: 0.5rem solid;
    border-right: 0.5rem solid;
    border-left: none;
    border-bottom: none; }
  .icon-theme.theme-blueprint::before {
    width: 0.875rem;
    height: 0.875rem;
    border-color: #f1f1f1;
    border-top: 0.0625rem solid;
    border-right: 0.0625rem solid;
    border-left: 0.0625rem solid;
    border-bottom: 0.0625rem solid transparent;
    transform: rotate(50deg); }
  .icon-theme.theme-marine::before {
    border-color: #006daa; }
  .icon-theme.theme-burnt::before {
    border-color: #7c3626; }
  .icon-theme.theme-daylight::before {
    border-color: #ffcdbc; }

/*WIREFRAME*/
/*MARINE*/
/*BURNT*/
* {
  margin: 0;
  padding: 0; }

.hidden {
  display: none; }

html,
body {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font: 16px "Roboto", sans-serif;
  max-width: 100vw;
  min-width: 7.5rem; }
  html > header,
  body > header {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0 5rem 0 0.9375rem;
    margin: 0;
    white-space: normal;
    background: #f1f1f1; }
    html > header h1,
    body > header h1 {
      font-size: 1.5em;
      line-height: 1.75em;
      padding: .25em;
      margin: 0; }
  html > footer,
  body > footer {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 50%;
    min-width: 20rem;
    width: 100vw;
    padding: 0.25rem 0 0;
    font-size: 0.625rem;
    color: #111111;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    transform: translate(-50%, 0);
    vertical-align: middle;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 36%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 36%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 36%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    /* IE6-9 */ }
    html > footer a,
    body > footer a {
      display: inline-block;
      width: auto;
      height: auto; }

a {
  text-decoration: none; }

.unstyled {
  list-style: none; }

.site-wrapper {
  position: relative; }

.main-frame {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  min-width: 20rem;
  position: relative; }

.side-frame {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }
  .side-frame.dock-top {
    bottom: auto;
    transform: translate(0, -100%); }
  .side-frame.dock-right {
    left: auto;
    transform: translate(100%, 0); }
  .side-frame.dock-bottom {
    top: auto;
    transform: translate(0, 100%); }
  .side-frame.dock-left {
    right: auto;
    transform: translate(-100%, 0); }
  .side-frame.shifted {
    transform: translate(0, 0); }

ul {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box; }
  ul.unstyled {
    list-style: none; }

a {
  color: #cc0000; }

section {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  width: 100%; }
  section.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1.25rem 0;
    box-shadow: inset 0.125rem 0.125rem 0.375rem rgba(0, 0, 0, 0.85); }
    section.slide .content-box {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 16px;
      box-sizing: border-box;
      margin: 0.625rem;
      max-width: 100%; }
      section.slide .content-box.tweets-wrapper {
        background: rgba(255, 255, 255, 0.5); }
        section.slide .content-box.tweets-wrapper > ul.user-feed {
          display: flex;
          max-width: 75rem;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch; }
          @media screen and (max-width: 48rem) {
            section.slide .content-box.tweets-wrapper > ul.user-feed {
              flex-direction: column; } }
          section.slide .content-box.tweets-wrapper > ul.user-feed > li {
            display: block;
            margin: 0;
            padding: 0;
            font-size: 16px;
            box-sizing: border-box;
            flex: 1;
            list-style: none; }
            section.slide .content-box.tweets-wrapper > ul.user-feed > li:nth-child(3n-5) {
              order: 1; }
            section.slide .content-box.tweets-wrapper > ul.user-feed > li:nth-child(3n-4) {
              order: 2; }
            section.slide .content-box.tweets-wrapper > ul.user-feed > li:nth-child(3n-3) {
              order: 3; }
        section.slide .content-box.tweets-wrapper .scroll-wrapper {
          min-width: 20rem; }

.layout-rows .slide .content-box.tweets-wrapper .user-feed {
  flex-direction: column; }

.layout-rows .tweets-feed {
  display: flex;
  flex-wrap: wrap; }
  .layout-rows .tweets-feed > li:not(.tweet-box) {
    max-width: 100%;
    width: 100%; }
  .layout-rows .tweets-feed .tweet-box {
    max-width: 20rem; }

/*WIREFRAME*/
/*MARINE*/
/*BURNT*/
.theme-marine section {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  width: 100%; }
  .theme-marine section.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.625rem 0;
    box-shadow: inset 0.125rem 0.125rem 0.375rem rgba(0, 7, 45, 0.85); }
    .theme-marine section.slide .content-box {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 16px;
      box-sizing: border-box;
      margin: 0.625rem;
      max-width: 100%; }
      .theme-marine section.slide .content-box.tweets-wrapper {
        background: transparent; }

/*WIREFRAME*/
/*MARINE*/
/*BURNT*/
.theme-burnt section.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.625rem 0;
  box-shadow: inset 0.125rem 0.125rem 0.375rem rgba(19, 3, 3, 0.85); }
  .theme-burnt section.slide .content-box {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0.625rem;
    max-width: 100%; }
    .theme-burnt section.slide .content-box.tweets-wrapper {
      background: transparent; }

/*WIREFRAME*/
/*MARINE*/
/*BURNT*/
.btn {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0.25rem 0.625rem;
  color: #111111;
  background: #919191;
  border: none; }
  .btn:hover, .btn:focus, .btn:active {
    color: #444444;
    background: #c4c4c4; }
  .btn.btn-primary {
    color: #f1f1f1;
    background: #111111; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
      color: white;
      background: #444444; }
  .btn.btn-secondary {
    color: #5d7cdd;
    background: #cc0000; }
    .btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active {
      color: #b1c0ef;
      background: #ff3333; }

.tweets-feed h2 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0.25rem 4.0625rem 0.25rem 0.625rem;
  margin: 0.25rem;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0.5rem rgba(100, 100, 100, 0.2);
  text-ellipsis: ellipsis;
  white-space: nowrap; }

.tweets-feed > li {
  max-width: 32.5rem;
  min-width: 17.5rem; }

.tweets-feed .feed-header {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  position: relative; }
  .tweets-feed .feed-header .user-options .btn-toggle-options {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.625rem;
    color: #111111;
    transform: translate(-25%, 0);
    padding-right: 1em; }
    .tweets-feed .feed-header .user-options .btn-toggle-options [class^=icon] {
      font-size: 1.125rem;
      color: #777777; }
    .tweets-feed .feed-header .user-options .btn-toggle-options .fa-gear {
      transition: transform .5s;
      transform: translateY(-10%);
      font-size: .75em; }
    .tweets-feed .feed-header .user-options .btn-toggle-options .fa-toggle-on,
    .tweets-feed .feed-header .user-options .btn-toggle-options .fa-toggle-off {
      display: none;
      position: absolute;
      top: 50%;
      right: 0;
      left: auto;
      transform: translate(0, -50%) rotate(90deg); }
    .tweets-feed .feed-header .user-options .btn-toggle-options .fa-toggle-off {
      display: block; }
  .tweets-feed .feed-header .user-options .options-container {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    height: 0;
    max-height: 0;
    transition: max-height .75s ease;
    margin: 0 0.25rem;
    background: rgba(0, 0, 0, 0.85);
    overflow: hidden; }
    .tweets-feed .feed-header .user-options .options-container li {
      display: flex;
      padding: 0.25rem;
      color: #f1f1f1; }
      .tweets-feed .feed-header .user-options .options-container li > span {
        flex: 1;
        padding: 0 0.25rem;
        font-size: 0.75rem; }
        .tweets-feed .feed-header .user-options .options-container li > span > span {
          display: block; }
      .tweets-feed .feed-header .user-options .options-container li .range-slider {
        margin: 0.25rem 0.625rem;
        height: 0.625rem;
        position: relative;
        border-radius: 0;
        left: 0.625rem;
        width: calc(100% - 30px); }
        .tweets-feed .feed-header .user-options .options-container li .range-slider .noUi-connect {
          background: #919191; }
        .tweets-feed .feed-header .user-options .options-container li .range-slider .noUi-handle {
          width: 1.3125rem;
          height: 1.3125rem; }
          .tweets-feed .feed-header .user-options .options-container li .range-slider .noUi-handle::before {
            left: 0.4375rem;
            top: 0.125rem; }
          .tweets-feed .feed-header .user-options .options-container li .range-slider .noUi-handle::after {
            left: 0.625rem;
            top: 0.125rem; }
  .tweets-feed .feed-header .user-options.is-active .options-container {
    height: auto;
    max-height: 62.4375rem; }
  .tweets-feed .feed-header .user-options.is-active .fa-gear {
    transform: translateY(-10%) rotate(90deg); }
  .tweets-feed .feed-header .user-options.is-active .fa-toggle-on {
    display: block; }
  .tweets-feed .feed-header .user-options.is-active .fa-toggle-off {
    display: none; }

.tweet-box {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  color: #111111;
  background: #f1f1f1;
  border-radius: 0.25rem 0.25rem;
  border: 0.0625rem solid #111111;
  padding: 0.875rem;
  margin: 0.375rem;
  box-shadow: 0.125rem 0.125rem rgba(0, 0, 0, 0.85);
  overflow: hidden;
  cursor: pointer; }
  .tweet-box > a {
    color: inherit; }
  .tweet-box .tweet-header {
    display: flex;
    position: relative;
    padding-left: 2.8125rem;
    white-space: nowrap; }
    .tweet-box .tweet-header .tweet-author-avatar {
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      max-width: 2.25rem;
      max-height: 2.25rem;
      overflow: hidden;
      background-color: transparent;
      border-radius: 0.25rem; }
      .tweet-box .tweet-header .tweet-author-avatar figure {
        margin: 0; }
    .tweet-box .tweet-header .tweet-author {
      display: flex;
      flex-direction: column;
      margin-top: 0.125rem;
      line-height: 0;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: inherit;
      text-decoration: none;
      white-space: nowrap;
      word-wrap: normal; }
      .tweet-box .tweet-header .tweet-author span {
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        line-height: 1.2em; }
        .tweet-box .tweet-header .tweet-author span.identity-name {
          font-weight: 700; }
        .tweet-box .tweet-header .tweet-author span.screen-name {
          color: #777777; }
          .tweet-box .tweet-header .tweet-author span.screen-name::before {
            content: "@";
            display: inline-block; }
  .tweet-box .tweet-body p.tweet-text {
    margin: 0.9375rem 0; }
  .tweet-box .tweet-metadata {
    color: #777777;
    font-size: .8em; }
  .tweet-box .tweet-tools {
    margin-top: 0.9375rem;
    color: #777777; }
    .tweet-box .tweet-tools > ul {
      list-style: none;
      display: flex;
      width: auto;
      align-content: space-between; }
      .tweet-box .tweet-tools > ul li {
        display: inline-block;
        margin: 0 0.625rem 0 0;
        width: auto; }
    .tweet-box .tweet-tools .fa-heart,
    .tweet-box .tweet-tools .fa-reply,
    .tweet-box .tweet-tools .fa-retweet,
    .tweet-box .tweet-tools .fa-favorite {
      color: #cc0000; }
      .tweet-box .tweet-tools .fa-heart:hover, .tweet-box .tweet-tools .fa-heart:active, .tweet-box .tweet-tools .fa-heart:focus,
      .tweet-box .tweet-tools .fa-reply:hover,
      .tweet-box .tweet-tools .fa-reply:active,
      .tweet-box .tweet-tools .fa-reply:focus,
      .tweet-box .tweet-tools .fa-retweet:hover,
      .tweet-box .tweet-tools .fa-retweet:active,
      .tweet-box .tweet-tools .fa-retweet:focus,
      .tweet-box .tweet-tools .fa-favorite:hover,
      .tweet-box .tweet-tools .fa-favorite:active,
      .tweet-box .tweet-tools .fa-favorite:focus {
        color: #111111; }

.tooltip {
  position: relative;
  display: inline-block; }
  .tooltip .tooltiptext {
    width: 8.125rem;
    position: absolute;
    top: 0;
    left: 0.625rem;
    background-color: rgba(0, 0, 0, 0.85);
    color: #f1f1f1;
    font-size: 0.75rem;
    text-align: center;
    padding: 0.3125rem 0;
    border-radius: 0.125rem;
    transform: translate(-100%, -50%);
    visibility: hidden;
    transition: opacity 1s ease-out;
    transition-delay: 1.75s;
    opacity: 0;
    z-index: 1; }
    .tooltip .tooltiptext::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      border-top: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.5rem solid transparent;
      border-left: 1.25rem solid rgba(0, 0, 0, 0.85);
      transform: translate(75%, 50%) rotate(30deg); }
  .tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible; }

.js-drop-box.drag-on *:not(:active) {
  pointer-events: none; }

.js-drag-box {
  cursor: move; }
  .js-drag-box:active {
    cursor: grab !important; }
  .js-drag-box.in-transit {
    opacity: .5; }

/*WIREFRAME*/
/*MARINE*/
/*BURNT*/
.theme-marine {
  background: #a6e1fa; }
  .theme-marine a {
    color: #00072d; }
  .theme-marine .btn {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0.25rem 0.625rem;
    color: #00072d;
    background: #2d4eff;
    border: none; }
    .theme-marine .btn:hover, .theme-marine .btn:focus, .theme-marine .btn:active {
      color: #001793;
      background: #93a4ff; }
    .theme-marine .btn.btn-primary {
      color: #a6e1fa;
      background: #00072d; }
      .theme-marine .btn.btn-primary:hover, .theme-marine .btn.btn-primary:focus, .theme-marine .btn.btn-primary:active {
        color: white;
        background: #001793; }
    .theme-marine .btn.btn-secondary {
      color: #5eb1bf;
      background: #0a2463; }
      .theme-marine .btn.btn-secondary:hover, .theme-marine .btn.btn-secondary:focus, .theme-marine .btn.btn-secondary:active {
        color: #a7d4dc;
        background: #1346c0; }
  .theme-marine .tweets-feed h2 {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0.25rem 4.0625rem 0.25rem 0.625rem;
    margin: 0.25rem 0.25rem 0;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 0.25rem;
    color: #0a2463;
    box-shadow: inset 0 0 1.875rem #5eb1bf;
    text-ellipsis: ellipsis;
    white-space: nowrap;
    text-transform: uppercase; }
  .theme-marine .tweets-feed > li {
    max-width: 32.5rem;
    min-width: 17.5rem; }
  .theme-marine .tweets-feed .feed-header {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    position: relative; }
    .theme-marine .tweets-feed .feed-header .user-options {
      margin-top: 0; }
      .theme-marine .tweets-feed .feed-header .user-options .btn-toggle-options {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.625rem;
        color: #00072d;
        transform: translate(-25%, 0);
        padding-right: 1em; }
        .theme-marine .tweets-feed .feed-header .user-options .btn-toggle-options [class^=icon] {
          font-size: 1.125rem;
          color: #0027f9; }
        .theme-marine .tweets-feed .feed-header .user-options .btn-toggle-options .fa-gear {
          transition: transform .5s;
          transform: translateY(-10%);
          font-size: .75em; }
        .theme-marine .tweets-feed .feed-header .user-options .btn-toggle-options .fa-toggle-on,
        .theme-marine .tweets-feed .feed-header .user-options .btn-toggle-options .fa-toggle-off {
          display: none;
          position: absolute;
          top: 50%;
          right: 0;
          left: auto;
          transform: translate(0, -50%) rotate(90deg); }
        .theme-marine .tweets-feed .feed-header .user-options .btn-toggle-options .fa-toggle-off {
          display: block; }
      .theme-marine .tweets-feed .feed-header .user-options .options-container {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 16px;
        box-sizing: border-box;
        height: 0;
        max-height: 0;
        transition: max-height .75s ease;
        background: rgba(0, 7, 45, 0.85);
        margin: 0 0.625rem;
        border-radius: 0 0 0.25rem 0.25rem;
        overflow: hidden; }
        .theme-marine .tweets-feed .feed-header .user-options .options-container li {
          display: flex;
          flex-direction: column;
          padding: 0.25rem;
          color: #a6e1fa; }
          .theme-marine .tweets-feed .feed-header .user-options .options-container li > span {
            flex: 1;
            padding: 0 0.25rem;
            font-size: 0.75rem; }
            .theme-marine .tweets-feed .feed-header .user-options .options-container li > span > span {
              display: block; }
          .theme-marine .tweets-feed .feed-header .user-options .options-container li .range-slider {
            margin: 0.25rem 0.625rem;
            height: 0.625rem;
            position: relative;
            border-radius: 0;
            left: 0.625rem;
            width: calc(100% - 30px); }
            .theme-marine .tweets-feed .feed-header .user-options .options-container li .range-slider .noUi-connect {
              background: #2d4eff; }
            .theme-marine .tweets-feed .feed-header .user-options .options-container li .range-slider .noUi-handle {
              width: 1.3125rem;
              height: 1.3125rem; }
              .theme-marine .tweets-feed .feed-header .user-options .options-container li .range-slider .noUi-handle::before {
                left: 0.4375rem;
                top: 0.125rem; }
              .theme-marine .tweets-feed .feed-header .user-options .options-container li .range-slider .noUi-handle::after {
                left: 0.625rem;
                top: 0.125rem; }
      .theme-marine .tweets-feed .feed-header .user-options.is-active .options-container {
        height: auto;
        max-height: 62.4375rem; }
      .theme-marine .tweets-feed .feed-header .user-options.is-active .fa-gear {
        transform: translateY(-10%) rotate(90deg); }
      .theme-marine .tweets-feed .feed-header .user-options.is-active .fa-toggle-on {
        display: block; }
      .theme-marine .tweets-feed .feed-header .user-options.is-active .fa-toggle-off {
        display: none; }
  .theme-marine .tweet-box {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    color: #00072d;
    background: #cdedf6;
    border-radius: 0.25rem 0.25rem;
    border: none;
    padding: 0.875rem;
    margin: 0.375rem;
    box-shadow: 0.125rem 0.125rem 0.25rem #5eb1bf;
    overflow: hidden;
    cursor: pointer; }
    .theme-marine .tweet-box > a {
      color: inherit; }
    .theme-marine .tweet-box .tweet-header {
      display: flex;
      position: relative;
      padding-left: 2.8125rem;
      white-space: nowrap; }
      .theme-marine .tweet-box .tweet-header .tweet-author-avatar {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        max-width: 2.25rem;
        max-height: 2.25rem;
        overflow: hidden;
        background-color: transparent;
        border-radius: 0.25rem; }
        .theme-marine .tweet-box .tweet-header .tweet-author-avatar figure {
          margin: 0; }
      .theme-marine .tweet-box .tweet-header .tweet-author {
        display: flex;
        flex-direction: column;
        margin-top: 0.125rem;
        line-height: 0;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: inherit;
        text-decoration: none;
        white-space: nowrap;
        word-wrap: normal; }
        .theme-marine .tweet-box .tweet-header .tweet-author span {
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          line-height: 1.2em; }
          .theme-marine .tweet-box .tweet-header .tweet-author span.identity-name {
            font-weight: 700; }
          .theme-marine .tweet-box .tweet-header .tweet-author span.screen-name {
            color: #0027f9; }
            .theme-marine .tweet-box .tweet-header .tweet-author span.screen-name::before {
              content: "@";
              display: inline-block; }
    .theme-marine .tweet-box .tweet-body p.tweet-text {
      font-size: .9em;
      margin: 0.625rem 0; }
    .theme-marine .tweet-box .tweet-metadata {
      color: #0027f9;
      font-size: .8em; }
    .theme-marine .tweet-box .tweet-tools {
      margin-top: 0.9375rem;
      color: #0027f9; }
      .theme-marine .tweet-box .tweet-tools > ul {
        list-style: none;
        display: flex;
        width: auto;
        align-content: space-between; }
        .theme-marine .tweet-box .tweet-tools > ul li {
          display: inline-block;
          margin: 0 0.625rem 0 0;
          width: auto; }
      .theme-marine .tweet-box .tweet-tools .fa-heart,
      .theme-marine .tweet-box .tweet-tools .fa-reply,
      .theme-marine .tweet-box .tweet-tools .fa-retweet,
      .theme-marine .tweet-box .tweet-tools .fa-favorite {
        color: #0a2463; }
        .theme-marine .tweet-box .tweet-tools .fa-heart:hover, .theme-marine .tweet-box .tweet-tools .fa-heart:active, .theme-marine .tweet-box .tweet-tools .fa-heart:focus,
        .theme-marine .tweet-box .tweet-tools .fa-reply:hover,
        .theme-marine .tweet-box .tweet-tools .fa-reply:active,
        .theme-marine .tweet-box .tweet-tools .fa-reply:focus,
        .theme-marine .tweet-box .tweet-tools .fa-retweet:hover,
        .theme-marine .tweet-box .tweet-tools .fa-retweet:active,
        .theme-marine .tweet-box .tweet-tools .fa-retweet:focus,
        .theme-marine .tweet-box .tweet-tools .fa-favorite:hover,
        .theme-marine .tweet-box .tweet-tools .fa-favorite:active,
        .theme-marine .tweet-box .tweet-tools .fa-favorite:focus {
          color: #347883; }
  .theme-marine .tooltip {
    position: relative;
    display: inline-block; }
    .theme-marine .tooltip .tooltiptext {
      opacity: 0;
      width: 8.125rem;
      position: absolute;
      top: 0;
      left: 0.625rem;
      background-color: rgba(0, 7, 45, 0.85);
      color: #a6e1fa;
      font-size: 0.75rem;
      text-align: center;
      padding: 0.3125rem 0;
      border-radius: 0.125rem;
      transform: translate(-100%, -50%);
      visibility: hidden;
      transition: opacity 1s ease-out;
      transition-delay: 1.75s;
      z-index: 1; }
      .theme-marine .tooltip .tooltiptext::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(75%, 50%) rotate(30deg);
        border-top: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        border-left: 1.25rem solid rgba(0, 7, 45, 0.85); }
    .theme-marine .tooltip:hover .tooltiptext {
      opacity: 1;
      visibility: visible; }

/*WIREFRAME*/
/*MARINE*/
/*BURNT*/
.theme-burnt {
  background: #7c3626; }
  .theme-burnt .btn {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0.25rem 0.625rem;
    color: #130303;
    background: #df3636;
    border: none; }
    .theme-burnt .btn:hover, .theme-burnt .btn:focus, .theme-burnt .btn:active {
      color: #6b1111;
      background: #ed8e8e; }
    .theme-burnt .btn.btn-primary {
      color: #ffcdbc;
      background: #130303; }
      .theme-burnt .btn.btn-primary:hover, .theme-burnt .btn.btn-primary:focus, .theme-burnt .btn.btn-primary:active {
        color: white;
        background: #6b1111; }
    .theme-burnt .btn.btn-secondary {
      color: #7c3626;
      background: #f5853f; }
      .theme-burnt .btn.btn-secondary:hover, .theme-burnt .btn.btn-secondary:focus, .theme-burnt .btn.btn-secondary:active {
        color: #c55b43;
        background: #fac3a0; }
  .theme-burnt .tweets-feed a {
    color: #f5853f; }
  .theme-burnt .tweets-feed h2 {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0.25rem 4.0625rem 0.25rem 0.625rem;
    margin: 0.25rem;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 0.25rem;
    color: #7c3626;
    background: #f5853f;
    box-shadow: 0.125rem 0.125rem 0.625rem rgba(19, 3, 3, 0.85);
    text-ellipsis: ellipsis;
    white-space: nowrap; }
  .theme-burnt .tweets-feed > li {
    max-width: 32.5rem;
    min-width: 17.5rem; }
  .theme-burnt .tweets-feed .feed-header {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    position: relative; }
    .theme-burnt .tweets-feed .feed-header .user-options {
      margin: 0.25rem 0.4375rem;
      border-radius: 0.25rem; }
      .theme-burnt .tweets-feed .feed-header .user-options .btn-toggle-options {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.625rem;
        color: #130303;
        transform: translate(-25%, 0);
        padding-right: 1em; }
        .theme-burnt .tweets-feed .feed-header .user-options .btn-toggle-options [class^=icon] {
          font-size: 1.125rem;
          color: #c31f1f; }
        .theme-burnt .tweets-feed .feed-header .user-options .btn-toggle-options .fa-gear {
          transition: transform .5s;
          transform: translateY(-10%);
          font-size: .75em; }
        .theme-burnt .tweets-feed .feed-header .user-options .btn-toggle-options .fa-toggle-on,
        .theme-burnt .tweets-feed .feed-header .user-options .btn-toggle-options .fa-toggle-off {
          display: none;
          position: absolute;
          top: 50%;
          right: 0;
          left: auto;
          transform: translate(0, -50%) rotate(90deg); }
        .theme-burnt .tweets-feed .feed-header .user-options .btn-toggle-options .fa-toggle-off {
          display: block; }
      .theme-burnt .tweets-feed .feed-header .user-options .options-container {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 16px;
        box-sizing: border-box;
        height: 0;
        max-height: 0;
        transition: max-height .75s ease;
        background: rgba(19, 3, 3, 0.85);
        border-radius: 0.25rem;
        box-shadow: 0.125rem 0.125rem 0.25rem rgba(19, 3, 3, 0.85);
        overflow: hidden; }
        .theme-burnt .tweets-feed .feed-header .user-options .options-container li {
          display: flex;
          padding: 0.25rem;
          color: #ffcdbc; }
          .theme-burnt .tweets-feed .feed-header .user-options .options-container li > span {
            flex: 1;
            padding: 0 0.25rem;
            font-size: 0.75rem; }
            .theme-burnt .tweets-feed .feed-header .user-options .options-container li > span > span {
              display: block; }
          .theme-burnt .tweets-feed .feed-header .user-options .options-container li .range-slider {
            margin: 0.25rem 0.625rem;
            height: 0.625rem;
            position: relative;
            border-radius: 0;
            left: 0.625rem;
            width: calc(100% - 30px); }
            .theme-burnt .tweets-feed .feed-header .user-options .options-container li .range-slider .noUi-connect {
              background: #df3636; }
            .theme-burnt .tweets-feed .feed-header .user-options .options-container li .range-slider .noUi-handle {
              width: 1.3125rem;
              height: 1.3125rem; }
              .theme-burnt .tweets-feed .feed-header .user-options .options-container li .range-slider .noUi-handle::before {
                left: 0.4375rem;
                top: 0.125rem; }
              .theme-burnt .tweets-feed .feed-header .user-options .options-container li .range-slider .noUi-handle::after {
                left: 0.625rem;
                top: 0.125rem; }
      .theme-burnt .tweets-feed .feed-header .user-options.is-active .options-container {
        height: auto;
        max-height: 62.4375rem; }
      .theme-burnt .tweets-feed .feed-header .user-options.is-active .fa-gear {
        transform: translateY(-10%) rotate(90deg); }
      .theme-burnt .tweets-feed .feed-header .user-options.is-active .fa-toggle-on {
        display: block; }
      .theme-burnt .tweets-feed .feed-header .user-options.is-active .fa-toggle-off {
        display: none; }
  .theme-burnt .tweet-box {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    color: #130303;
    background: #ffcdbc;
    border-radius: 0.25rem 0.25rem;
    border: none;
    padding: 0.875rem;
    margin: 0.375rem;
    box-shadow: inset 0 0 0.5rem rgba(19, 3, 3, 0.85);
    overflow: hidden;
    cursor: pointer; }
    .theme-burnt .tweet-box > a {
      color: inherit; }
    .theme-burnt .tweet-box .tweet-header {
      display: flex;
      position: relative;
      padding-left: 2.8125rem;
      white-space: nowrap; }
      .theme-burnt .tweet-box .tweet-header .tweet-author-avatar {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        max-width: 2.25rem;
        max-height: 2.25rem;
        overflow: hidden;
        background-color: transparent;
        border-radius: 0.25rem; }
        .theme-burnt .tweet-box .tweet-header .tweet-author-avatar figure {
          margin: 0; }
      .theme-burnt .tweet-box .tweet-header .tweet-author {
        display: flex;
        flex-direction: column;
        margin-top: 0.125rem;
        line-height: 0;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: inherit;
        text-decoration: none;
        white-space: nowrap;
        word-wrap: normal; }
        .theme-burnt .tweet-box .tweet-header .tweet-author span {
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          line-height: 1.2em; }
          .theme-burnt .tweet-box .tweet-header .tweet-author span.identity-name {
            font-weight: 700; }
          .theme-burnt .tweet-box .tweet-header .tweet-author span.screen-name {
            color: #c31f1f; }
            .theme-burnt .tweet-box .tweet-header .tweet-author span.screen-name::before {
              content: "@";
              display: inline-block; }
    .theme-burnt .tweet-box .tweet-body p.tweet-text {
      margin: 0.9375rem 0; }
    .theme-burnt .tweet-box .tweet-metadata {
      color: #c31f1f;
      font-size: .8em; }
    .theme-burnt .tweet-box .tweet-tools {
      margin-top: 0.9375rem;
      color: #c31f1f; }
      .theme-burnt .tweet-box .tweet-tools > ul {
        list-style: none;
        display: flex;
        width: auto;
        align-content: space-between; }
        .theme-burnt .tweet-box .tweet-tools > ul li {
          display: inline-block;
          margin: 0 0.625rem 0 0;
          width: auto; }
      .theme-burnt .tweet-box .tweet-tools .fa-heart,
      .theme-burnt .tweet-box .tweet-tools .fa-reply,
      .theme-burnt .tweet-box .tweet-tools .fa-retweet,
      .theme-burnt .tweet-box .tweet-tools .fa-favorite {
        color: #c31f1f; }
        .theme-burnt .tweet-box .tweet-tools .fa-heart:hover, .theme-burnt .tweet-box .tweet-tools .fa-heart:active, .theme-burnt .tweet-box .tweet-tools .fa-heart:focus,
        .theme-burnt .tweet-box .tweet-tools .fa-reply:hover,
        .theme-burnt .tweet-box .tweet-tools .fa-reply:active,
        .theme-burnt .tweet-box .tweet-tools .fa-reply:focus,
        .theme-burnt .tweet-box .tweet-tools .fa-retweet:hover,
        .theme-burnt .tweet-box .tweet-tools .fa-retweet:active,
        .theme-burnt .tweet-box .tweet-tools .fa-retweet:focus,
        .theme-burnt .tweet-box .tweet-tools .fa-favorite:hover,
        .theme-burnt .tweet-box .tweet-tools .fa-favorite:active,
        .theme-burnt .tweet-box .tweet-tools .fa-favorite:focus {
          color: #130303; }
  .theme-burnt .tooltip {
    position: relative;
    display: inline-block; }
    .theme-burnt .tooltip .tooltiptext {
      opacity: 0;
      width: 8.125rem;
      position: absolute;
      top: 0;
      left: 0.625rem;
      background-color: rgba(19, 3, 3, 0.85);
      color: #ffcdbc;
      font-size: 0.75rem;
      text-align: center;
      padding: 0.3125rem 0;
      border-radius: 0.125rem;
      transform: translate(-100%, -50%);
      visibility: hidden;
      transition: opacity 1s ease-out;
      transition-delay: 1.75s;
      z-index: 1; }
      .theme-burnt .tooltip .tooltiptext::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(75%, 50%) rotate(30deg);
        border-top: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        border-left: 1.25rem solid rgba(19, 3, 3, 0.85); }
    .theme-burnt .tooltip:hover .tooltiptext {
      opacity: 1;
      visibility: visible; }

/*WIREFRAME*/
/*MARINE*/
/*BURNT*/
.menu-trigger {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  position: fixed;
  top: 0.625rem;
  right: 0.625rem;
  padding: 0.25rem;
  border: 0.0625rem solid #111111;
  border-radius: 0.125rem;
  background: rgba(255, 255, 255, 0.25);
  color: #111111;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 4; }
  .menu-trigger a {
    color: inherit; }
  .menu-trigger .icon-default {
    font-size: 1rem;
    margin: 0 0.125rem -0.125rem;
    color: #111111; }

nav.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  display: inline-block;
  min-width: px2rem180px();
  height: 100vh;
  margin: 0;
  padding: 3.75rem 0.5rem;
  color: #111111;
  background: rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  transition: transform .5s;
  z-index: 3; }
  nav.menu.is-active {
    transform: translate(0, 0); }
  nav.menu > ul a {
    display: inline-block;
    width: 100%;
    padding: 0.9375rem 0;
    color: #919191;
    text-align: center;
    font-size: 1rem; }
    nav.menu > ul a:hover, nav.menu > ul a:focus, nav.menu > ul a:active {
      color: #111111; }
    nav.menu > ul a [class^=icon] {
      display: inline-block;
      margin: 0 auto;
      height: auto;
      text-align: center;
      color: inherit; }
  nav.menu > ul ul {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    height: 0;
    max-height: 0;
    transition: max-height .75s ease;
    visibility: hidden;
    position: relative;
    background: rgba(0, 0, 0, 0.85); }
    nav.menu > ul ul.is-active {
      height: auto;
      max-height: 62.4375rem;
      visibility: visible; }
    nav.menu > ul ul.sym-table {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      list-style: none; }
      nav.menu > ul ul.sym-table > li {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 16px;
        box-sizing: border-box;
        flex-basis: 33%;
        height: 3.5rem;
        position: relative;
        line-height: 1.25em;
        text-align: center;
        vertical-align: middle;
        color: #f1f1f1;
        box-sizing: border-box;
        max-height: 3.75rem; }
        nav.menu > ul ul.sym-table > li a {
          color: inherit;
          position: absolute;
          padding: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          font-size: 0;
          color: transparent; }
          nav.menu > ul ul.sym-table > li a [class^=icon] {
            position: absolute;
            font-size: 0.875rem;
            color: #f1f1f1;
            height: 1.25em;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -100%); }
          nav.menu > ul ul.sym-table > li a:hover {
            color: #cc0000;
            background: rgba(0, 0, 0, 0.85); }
      nav.menu > ul ul.sym-table.flex-column {
        flex-direction: column; }
        nav.menu > ul ul.sym-table.flex-column > li {
          flex-basis: 100%; }

.figure-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  max-width: 14.375rem;
  max-height: 14.375rem;
  border: 0.25rem solid #f1f1f1;
  border-radius: 50%;
  margin: 0.625rem;
  transform: translate(0, -20%);
  box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.75);
  overflow: hidden; }
  @media screen and (max-width: 48rem) {
    .figure-wrapper {
      margin: 0.625rem auto; } }
  .figure-wrapper img {
    display: inline-block;
    width: 100%;
    height: auto; }

/*# sourceMappingURL=style.css.map */