@import "variables";
@import "icons";
@import "layout";
@import "elements";
@import "menu";

//*CONTENT*/
.figure-wrapper {
  @include default-box;
  max-width: px2rem(230px);
  max-height: px2rem(230px);
  border: px2rem(4px) solid $inverted-primary;
  border-radius: 50%;
  margin: px2rem(10px);
  transform: translate(0, -20%);
  box-shadow: px2rem(5px) px2rem(5px) px2rem(10px) $black-almostfilled;
  overflow: hidden;

  @media screen and (max-width: $break-medium) {
    margin: px2rem(10px) auto;
  }

  img {
    display: inline-block;
    width: 100%;
    height: auto;
  }

}
